<h1>Login</h1>
<p>Welcome back, sign in below</p>
<div class="row">
	<form class="col s12" method="POST" action="/auth/login">
	  <div class="row">
	    <div class="input-field col s6">
	      <input id="email" type="text" name="email">
	      <label for="first_name">Email</label>
	    </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      	<button class="btn waves-effect waves-light orange lighten-1" type="submit">Sign In<i class="material-icons right">send</i></button>
	</form>
</div>