<nav class="page-nav grey darken-4">
	<div class="nav-wrapper">
  		<a href="/" class="brand-logo">MMO-Flash</a>
  		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<% if (user) { %>
				<li>
					<a class ="white-text" href="/discussion">Game Discussion</a>
				</li>
				<li>
					<a class ="white-text" href="/profile/user"><%= user.displayname %></a>
				</li>
				<li>
					<a class ="white-text" href="/auth/logout">Logout</a>
				</li>
			<% } else { %>
				<li>
					<a class ="white-text" href="/auth/login">Login</a>
				</li>
				<li>
					<a class ="white-text" href="/auth/signup">Signup</a>
				</li>
			<% } %>
			
  		</ul>
	</div>
</nav>
<ul class="sidenav grey darken-4" id="mobile-demo">
		<li>
			<a class="white-text" href="/" class="brand-logo">MMO-Flash</a>
		</li>
	<% if (user) { %>
		<li>
			<a class="white-text" href="/discussion">Game Discussion</a>
		</li>
		<li>
		<a class="white-text" href="/profile/user"><%= user.displayname %></a>
		</li>
		<li>
			<a class="white-text" href="/auth/logout">Logout</a>
		</li>
	<% } else { %>
		<li>
			<a class="white-text" href="/auth/login">Login</a>
		</li>

		<li>
			<a class="white-text" href="/auth/signup">Signup</a>
		</li>
	<% } %>
</ul>