<section id="home-pg">
	<h1>News And Live Updates</h1>
<hr>
	<div class="game-links">
		<p><a href="/games/aau">Archeage Unchained</a></p>
		<p><a href="/games/bd">Black Desert</a></p>
		<p><a href="/games/gw2">Guild Wars 2</a></p>
		<p><a href="/games/wow">World Of Warcraft</a></p>
	</div>

</section>
