<section id="home-bg">
	<h1>News And Live Updates</h1>
	<div class="row">
		<div class="col s6">
			<div class="aa-logo-main">
				<a href="/games/aau">
					<img src="/assets/logo/archeage-unchained-logo.png"/>
				</a>
			</div>
		</div>
		<div class="col s6">
			<div class="bd-logo-main">
				<a href="/games/bd">
					<img src="/assets/logo/bd-logo.png">
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s6">
			<div class="gw-logo-main">
				<a href="/games/gw2">
					<img src="/assets/logo/gw-logo.png">
				</a>
			</div>
		</div>
		<div class="col s6">
			<div class="wow-logo-main">
				<a href="/games/wow">
					<img src="/assets/logo/wow-logo.png">
				</a>
			</div>
		</div>
	</div>
</section>
