html,
body {
	background-color: bisque;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
   flex: 1 0 auto;
}

nav .brand-logo {
	font-size: 2rem;
	color: black;
}

#aa-home {
    background: url(/assets/background/archeage-unchained-background.jpg);
    background-size: 100%;
/*    background-position: absolute;*/
    background-repeat: no-repeat;
}

section {
    position: relative;
    overflow: hidden;
}