html,
body {
	background-image: url(/assets/background/bg-main.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
   flex: 1 0 auto;
}

nav .brand-logo {
	font-size: 2rem;
	color: white;
}

.page-nav {
    background: url(/assets/header/stones-header.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.sidenav {
    background: url(/assets/background/background-sidebar.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.page-footer {
    background: url(/assets/footer/stones-footer.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#aa-top {
    background: url(/assets/background/archeage-unchained-background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#bd-top {
    background: url(/assets/background/bd-bg-top.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#gw-top {
    background: url(/assets/background/gw-top1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}

#wow-top {
    background: url(/assets/background/wow-background1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;     
}

#aa-body {
    background: url(/assets/background/background-about.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#bd-body {
    background: url(/assets/background/bd-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}

#gw-body {
    background: url(/assets/background/gw-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;     
}

#wow-body {
    background: url(/assets/background/wow-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;     
}

.aa-yt {
    margin: 10px;
}

.bd-yt {
    margin: 10px;
}

.gw-yt {
    margin: 10px;
}

.wow-yt {
    margin: 10px;
}

.aa-tw {
    margin: 10px;
    position: relative;
}

.bd-tw {
    margin: 10px;
    position: relative;
}

.gw-tw {
    margin: 10px;
    position: relative;
}

.wow-tw {
    margin: 10px;
    position: relative;    
}

.aa-logo {
    margin: 0px 10px;

}

.bd-logo {
    margin: 10px 160px 0px 20px;
    float: left;
}

.gw-logo {
    margin: 180px 60px 0px 0px;
    float: right;
}

.wow-logo {
    margin: 5px 370px 0px 5px;
    float: left;
}

.aa-art1 {
    float: right;
    margin: -745px 0px 0px 0px;
    position: relative;
    width: 50%;
}

.aa-art2 {
    float: right;
    margin: -495px 0px 0px 0px;
    position: relative;
    width: 50%;

}

.aa-art3 {
    float: right;
    margin: -245px 0px 0px 0px;
    position: relative;
    width: 50%;
}

.bd-art1 {
    float: right;
    margin: -700px 100px 0px 0px;
    position: relative;
}

.bd-art2 {
    float: right;
    margin: -340px 100px 0px 0px;
    position: relative;
}

.gw-art1 {
    float: right;
    margin: -700px 150px 0px 0px;
    position: relative;
}

.gw-art2 {
    float: right;
    margin: -340px 150px 0px 0px;
    position: relative;
}

.wow-art1 {
    float: right;
    margin: -680px 150px 0px 0px;
    position: relative;
}

.wow-art2 {
    float: right;
    margin: -320px 150px 0px 0px;
    position: relative;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #D4A56A;
  padding: 5px;
  text-align: center;
}

.card:hover {
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

section {
    position: relative;
    overflow: hidden;
}


