html,
body {
	background-color: lightgrey;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
   flex: 1 0 auto;
}

nav .brand-logo {
	font-size: 2rem;
	color: black;
}

#aa-top {
    background: url(/assets/background/archeage-unchained-background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#aa-body {
    background: url(/assets/background/background-about.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

section {
    position: relative;
    overflow: hidden;
}

.aa-yt {
    margin: 10px;
}

.aa-tw {
    margin: 10px;
}

.aa-logo {
    margin: 0px 10px;

}

.aa-art1 {
    float: right;
    margin: -600px 0px 0px 0px;
    position: relative;
    width: 50%;
}

.aa-art2 {
    float: right;
    margin: -350px 0px 0px 0px;
    position: relative;
    width: 50%;

}

.aa-art3 {
    float: right;
    margin: -100px 0px 0px 0px;
    position: relative;
    width: 50%;
}


