<h1>Game Discussion</h1>
<hr>
<% discussions.forEach(function(discussion) { %>
  <div>
    <h2>
      <a href="/discussion/<%= discussion.id %>"><%= discussion.title %></a>
      </h2>
    <% if (user) { %>
      <strong> User: <%= user.getFullName() %> </strong>
    <% } %>
    <p>
     <small><%= moment(discussion.createdAt).calendar() %></small>
    </p>
    <hr>
  </div>
<% }) %>

<a href="discussion/new" style="text-align: center"><h5><strong>Create New Post</strong></h5></a>
<hr>

