<section id="aa-home">



<p><iframe width="50%" height="250" src="https://www.youtube.com/embed/nwk-C_mh13U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>




<p><a class="twitter-timeline" data-width="250" data-height="600" data-theme="dark" href="https://twitter.com/ArcheAge?ref_src=twsrc%5Etfw">Tweets by ArcheAge</a></p>








</section>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>