<section id="aa-top">
	<div class="aa-logo">
		<a href="https://archeageunchained.com/" target="_blank">
			<img src="/assets/logo/archeage-unchained-logo.png"/>
		</a>
	</div>
	<div class="aa-yt">
		<p><iframe width="40%" height="250" src="https://www.youtube.com/embed/nwk-C_mh13U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
	</div>
</section>

<section id="aa-body">
	<div class="aa-tw">
		<p><a class="twitter-timeline" data-width="30%" data-height="730" data-theme="dark" href="https://twitter.com/ArcheAge?ref_src=twsrc%5Etfw">Tweets by ArcheAge</a></p>
	</div>
	<div class="aa-art1">
		<a href="https://www.trionworlds.com/archeage/en/2020/04/23/archeage-unchained-crests-in-motion/" target="_blank">
			<img src="/assets/article/aa-article1.jpg">
		</a>
	</div>
	<div class="aa-art2">
		<a href="https://www.trionworlds.com/archeage/en/2020/04/23/pledge-more-trees-to-charity/" target="_blank">
			<img src="/assets/article/aa-article2.jpg">
		</a>
	</div>
	<div class="aa-art3">
		<a href="https://www.trionworlds.com/archeage/en/2020/04/16/what-a-delivery-of-watermelon/" target="_blank">
			<img src="/assets/article/aa-article3.jpg">
		</a>
	</div>


<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>