<section id="bd-top">
	<div class="bd-logo">
		<a href="https://www.blackdesertonline.com/" target="_blank">
			<img src="/assets/logo/bd-logo.png">
		</a>
	</div>
	<div class="bd-yt">
		<p><iframe width="40%" height="250" src="https://www.youtube.com/embed/_g6XCLNQl_w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
	</div>
</section>

<section id="bd-body">
	<div class="bd-tw">
		<p><a class="twitter-timeline" data-width="30%" data-height="700" data-theme="dark" href="https://twitter.com/BDO_News?ref_src=twsrc%5Etfw">Tweets by BDO_News</a></p>
	</div>
	<div class="bd-art1">
		<div class="card">
			<a href="https://www.blackdesertonline.com/news/view/3859" target="_blank">
				<img src="/assets/Article/bd-art1.jpg">
			<div class="container">
				<h6>Read about the Springfest event here</h6>
			</a>
			</div>
		</div>			
	</div>
	<div class="bd-art2">
		<div class="card">
			<a href="https://www.blackdesertonline.com/news/view/3852" target="_blank">
				<img src="/assets/Article/bd-art2.jpg">
			<div class="container">
				<h6>Wacki Toshi's Research</h6>
			</a>
			</div>
		</div>
	</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>

</section>