<h1>Final Fantasy 14</h1>

<p><iframe width="50%" height="250" src="https://www.youtube.com/embed/4tyuIh12_HU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<p><a class="twitter-timeline" data-width="250" data-height="600" data-theme="dark" href="https://twitter.com/FF_XIV_EN?ref_src=twsrc%5Etfw">Tweets by FF_XIV_EN</a></p>








<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>