<h1>Final Fantasy 14</h1>

<a class="twitter-timeline" data-width="250" data-height="600" data-theme="dark" href="https://twitter.com/FF_XIV_EN?ref_src=twsrc%5Etfw">Tweets by FF_XIV_EN</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<p><a href="https://twitter.com/FF_XIV_EN?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @FF_XIV_EN</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>