<section id="gw-top">
	<div class="gw-logo">
		<a href="https://www.guildwars2.com/en/" target="_blank">
			<img src="/assets/logo/gw-logo.png">
		</a>
	</div>
	<div class="gw-yt">
		<p><iframe width="40%" height="250" src="https://www.youtube.com/embed/cSD2aXhfCIE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
	</div>
</section>

<section id="gw-body">
	<div class="gw-tw">
		<p><a class="twitter-timeline" data-width="30%" data-height="700" data-theme="dark" href="https://twitter.com/GuildWars2?ref_src=twsrc%5Etfw">Tweets by GuildWars2</a></p>
	</div>
	<div class="gw-art1">
		<div class="card">
			<a href="https://www.guildwars2.com/en/news/a-fashion-flashback-with-the-eves-prophecies-appearance-package/" target="_blank">
				<img src="/assets/article/gw-art1.jpg">
			<div class="container">
				<h6>Eve's Prophecies Appearance</h6>
			</a>
			</div>
		</div>			
	</div>
	<div class="gw-art2">
		<div class="card">
			<a href="https://www.guildwars2.com/en/news/welcome-back-to-guild-wars-2/" target="_blank">
				<img src="/assets/article/gw-art2.jpg">
			<div class="container">
				<h6>Welcome Back Event!</h6>
			</a>
			</div>
		</div>
	</div>



<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</section>