<h1>Guild Wars 2</h1>

<a class="twitter-timeline" data-width="250" data-height="600" data-theme="dark" href="https://twitter.com/GuildWars2?ref_src=twsrc%5Etfw">Tweets by GuildWars2</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<p><a href="https://twitter.com/GuildWars2?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @GuildWars2</a></p><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>