<section id="wow-top">
	<div class="wow-logo">
		<a href="https://worldofwarcraft.com/en-us/" target="_blank">
			<img src="/assets/logo/wow-logo.png">
		</a>
	</div>
	<div class="wow-yt">
		<p><iframe width="40%" height="250" src="https://www.youtube.com/embed/s4gBChg6AII?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
	</div>
</section>

<section id="wow-body">
	<div class="wow-tw">
		<p><a class="twitter-timeline" data-width="30%" data-height="650" data-theme="dark" href="https://twitter.com/Warcraft?ref_src=twsrc%5Etfw">Tweets by Warcraft</a></p>
	</div>
	<div class="wow-art1">
		<div class="card">
			<a href="https://worldofwarcraft.com/en-us/news/23380362/world-of-warcraft-shadowlands-news-round-up" target="_blank">
				<img src="/assets/Article/wow-art1.jpg">
			<div class="container">
				<h6>Shadowlands News Roundup</h6>
			</a>
			</div>
		</div>			
	</div>
	<div class="wow-art2">
		<div class="card">
			<a href="https://us.shop.battle.net/en-us/product/world-of-warcraft-shadowlands" target="_blank">
				<img src="/assets/Article/wow-art2.jpg">
			<div class="container">
				<h6>Pre-Purchase Shadowlands And Get Bonuses</h6>
			</a>
			</div>
		</div>
	</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</section>